<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logoutUser()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-item>
      <ion-label>
        Policies
        <ion-icon class="end-button" name="add-outline" (click)="addPolicy()"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item *ngFor="let policy of policies;">
      <ui-label [text]="policy.name"></ui-label>
      <ion-buttons slot="end">
        <ion-button (click)="editPolicy(policy.key)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="deletePolicy(policy.key)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

  </ion-list>
</ion-content>
