<ion-header>
  <ion-toolbar>
    <ion-title>
      Choose
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button expand="block" color="primary" (click)="onButtonClick(0)">Register</ion-button>
        <span class="already">or Already a user?</span>
        <ion-button expand="block" color="danger" (click)="onButtonClick(1)">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>